
/* Doc Display */
#doc{
    border: solid 2px;
    border-color: inherit;
    position: absolute;
    width: 80.6vw;
    min-height: 90vh;
    right: -1vw;
    bottom: 0;
    font-family: 'Comfortaa', 'Verdana', Arial;
    font-weight: 200px;
    overflow: scroll;
}
#doctitle{
    font-family: 'Space Mono', 'Times New Roman', Arial;
    font-weight: 900px;
    margin: 0;
    margin-left: 5px;
    display: block;
    text-align: center;
}
.docp{
    text-align: center;
}
.docimg{
    width: 600px;
    border: solid 2px;
    border-color: inherit;
    margin-left: 18vw;
}

/* Doc List */
#doclist{
    border: solid 2px;
    border-color: inherit;
    border-left: none;
    border-bottom: none;
    min-width: 21vw;
    min-height: 90vh;
    overflow: scroll;
    position: absolute;
    bottom: 0;
    left: -1vw;
    font-family: 'Comfortaa', 'Verdana', Arial;
    font-weight: 200px;
    font-size: 20px;
    text-align: left;
}
#doclist ul{
    list-style-type: none;
}
#doclist li:hover{
    transform: scale(1.1, 1.1);
}
#doclist a{
    text-decoration: none;
    color: inherit;
}